.footer-container {
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-logo-name-conteiner {
  display: flex;
  align-items: center;
}
.footer-heading {
  color: #ffffff;
  font-style: italic;
  font-weight: 700;
}
.footer-para {
  color: #ffffff;
}
.footer-icons-container {
  display: flex;
  align-items: center;
}
.social-icon {
  color: #ffffff;
  font-size: 44px;
  font-weight: 400;
}
